{% load staticfiles %}
<!DOCTYPE html>
<!--[if IE 8]>
<html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en"> <!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Aino Image Dispatcher </title>


    <link rel="stylesheet" href="{% static "css/foundation.css" %}">
    <link href="http://fonts.googleapis.com/css?family=Crimson+Text" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Allerta" rel="stylesheet" type="text/css">

    <script src="js/vendor/custom.modernizr.js"></script>

</head>
<body>

<div class="row">
    <div class="large-12 columns">
        <h2>Welcome to Aino</h2>

        <p>This is build pre-alpha 2013 10 30</p>
        <hr/>
    </div>
</div>

<div class="row">
    <div class="large-8 columns">
        <h3>The Grid</h3>

        <!-- Grid Example -->
        <div class="row">
            <div class="large-12 columns">
                <div class="panel">
                    <!-- Upload form. Note enctype attribute! -->
                    <form action="{% url 'frontpage.views.upload' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <p>{{ form.non_field_errors }}</p>
                        <p>{{ form.imagefile.label_tag }} {{ form.imagefile.help_text }}</p>
                        <p>
                            {{ form.imagefile.errors }}
                            {{ form.imagefile }}
                        </p>
                        <p><input type="submit" value="Upload" class="small button" /></p>
                    </form>
                </div>
            </div>
        </div>
</div>

<script>
    document.write('<script src=' +
            ('__proto__' in {} ? 'js/vendor/zepto' : 'js/vendor/jquery') +
            '.js><\/script>')
</script>

<script src="js/foundation.min.js"></script>
<!--

<script src="js/foundation/foundation.js"></script>

<script src="js/foundation/foundation.interchange.js"></script>

<script src="js/foundation/foundation.abide.js"></script>

<script src="js/foundation/foundation.dropdown.js"></script>

<script src="js/foundation/foundation.placeholder.js"></script>

<script src="js/foundation/foundation.forms.js"></script>

<script src="js/foundation/foundation.alerts.js"></script>

<script src="js/foundation/foundation.magellan.js"></script>

<script src="js/foundation/foundation.reveal.js"></script>

<script src="js/foundation/foundation.tooltips.js"></script>

<script src="js/foundation/foundation.clearing.js"></script>

<script src="js/foundation/foundation.cookie.js"></script>

<script src="js/foundation/foundation.joyride.js"></script>

<script src="js/foundation/foundation.orbit.js"></script>

<script src="js/foundation/foundation.section.js"></script>

<script src="js/foundation/foundation.topbar.js"></script>

-->

<script>
    $(document).foundation();
</script>
</body>
</html>
